# dependencies
node_modules/

# env
.env
.env.local
.env.development.local
.env.production.local

# next
.next/
out/

# builds
dist/
build/

# logs
*.log

# mac
.DS_Store

# vscode
.vscode/

# turbo
.turbo/

# typescript
*.tsbuildinfo
resume.tex
tech_audit_and_interview_prep.md
